<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.insacvl.educations">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activityAdmin.AddKidPackageActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activityAdmin.ManagePackageActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activityAdmin.AddWordPackageActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activityAdmin.AddPackageActivity" android:screenOrientation="portrait"/>
        <activity
            android:name=".activityAdmin.AdminActivity"
            android:label="@string/title_activity_admin"
            android:theme="@style/AppTheme.NoActionBar" android:screenOrientation="portrait"/>
        <activity android:name=".activitySolo.SoloActivityHard" android:screenOrientation="portrait"/>
        <activity android:name=".activitySolo.SoloActivityMedium" android:screenOrientation="portrait"/>
        <activity android:name=".activitySolo.SoloActivityDifficultySelector" android:screenOrientation="portrait"/>
        <activity android:name=".activitySolo.SoloActivityMotSemaine" android:screenOrientation="portrait"/>
        <activity android:name=".activitySolo.SelectKidSoloActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activityAdmin.SelectKidAdminActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activitySolo.SoloActivityRecapSemaine" android:screenOrientation="portrait"/>
        <activity android:name=".activityAdmin.AddWordActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activitySolo.SoloActivityEasy" android:screenOrientation="portrait"/>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>