<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.insacvl.educations">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activityAdmin.AddKidPackageActivity"></activity>
        <activity android:name=".activityAdmin.ManagePackageActivity" />
        <activity android:name=".activityAdmin.AddWordPackageActivity" />
        <activity android:name=".activityAdmin.AddPackageActivity" />
        <activity
            android:name=".activityAdmin.AdminActivity"
            android:label="@string/title_activity_admin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activitySolo.SoloActivityHard" />
        <activity android:name=".activitySolo.SoloActivityMedium" />
        <activity android:name=".activitySolo.SoloActivityDifficultySelector" />
        <activity android:name=".activitySolo.SelectKidSoloActivity" />
        <activity android:name=".activityAdmin.SelectKidAdminActivity" />
        <activity android:name=".activityAdmin.AddWordActivity" />
        <activity android:name=".activitySolo.SoloActivityEasy" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>